<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <!-- Para limitar nuestra aplicación únicamente y exclusivamente a usuarios que
     dispongan de acceso a camara en el dispositivo en el que se van a descargar la aplioación-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppMovilActivity"
            android:parentActivityName=".PrincipalActivity"
            android:label="Cook+"/>
        <activity
            android:name=".UsuarioActivity"
            android:label="Perfil de usuario"
            android:parentActivityName=".PrincipalActivity"/>
        <activity
            android:name=".PerfilActivity"
            android:label="Perfil"
            android:parentActivityName=".PrincipalActivity"/>
        <activity
            android:name=".PlanSemanalActivity"
            android:label="Plan Semanal"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".FavoritosActivity"
            android:label="Favoritos"
            android:parentActivityName=".PrincipalActivity"/>
        <activity
            android:name=".PrincipalActivity"
            android:label="Cook+" />
        <activity
            android:name=".RecetaActivity"
            android:label="Receta del día"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".DiarioFotosActivity"
            android:label="Diario de fotos"
            android:parentActivityName=".PerfilActivity"/>
        <activity
            android:name=".BuscarRecetasActivity"
            android:label="Buscador de recetas"
            android:parentActivityName=".PrincipalActivity"/>
        <activity
            android:name=".NeveraActivity"
            android:label="Despensa"
            android:parentActivityName=".PrincipalActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="Cook+">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>