<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <!-- Para limitar nuestra aplicación únicamente y exclusivamente a usuarios que
     dispongan de acceso a camara en el dispositivo en el que se van a descargar la aplioación-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cookplus.AppMovilActivity"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:label="Cook+"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.UsuarioActivity"
            android:label="Perfil de usuario"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.PerfilActivity"
            android:label="Perfil"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.PlanSemanalActivity"
            android:label="Plan Semanal"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.FavoritosActivity"
            android:label="Favoritos"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.PrincipalActivity"
            android:label="Cook+"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.RecetaActivity"
            android:label="Receta del día"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.DiarioFotosActivity"
            android:label="Diario de fotos"
            android:parentActivityName="com.example.cookplus.PerfilActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.BuscarRecetasActivity"
            android:label="Buscador de recetas"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.NeveraActivity"
            android:label="Despensa"
            android:parentActivityName="com.example.cookplus.PrincipalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cookplus.MainActivity"
            android:label="Cook+"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>